* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Futura', sans-serif;
  font-size: 20px;
}

body {
  background-color: whitesmoke;
}

.header {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 85px;
  padding: 5px 10%;
}

.header .logo {
  cursor: pointer;
}

.header .logo img {
  height: 70px;
  width: auto;
  transition: all 0.3s;
}

.header .logo img:hover {
  transform: scale(1.2);
}

.nav-menu {
  display: flex;
  justify-content: center;
}

.header .nav-links {
  list-style: none;
  display: flex;
  flex-wrap: wrap; 
  justify-content: center;
}

.header .nav-links li {
  display: inline-block;
  margin: 10px 20px;
  padding: 0 20px;
}

.header .nav-links li:hover {
  transform: scale(1.1);
  transition: all ease 0.3s;
}

.header .nav-links a {
  font-size: 20px;
  padding: 10px;
  color: #009d95;
  text-decoration: none;
}

.header .nav-links li a:hover {
  color: #009d95;
}

.userTools {
  display: flex;
}

.userTools .btn {
  margin-left: 10px;
}

.userTools .btn img {
  height: 30px;
  width: auto;
}

.nav-links li button {
  border: none;
  background: none;
  font-size: 20px;
  margin-left: 5px;
  cursor: pointer;
}

.nav-links li img {
  height: 15px;
}

.header .btn button {
  padding: 3px 3px; 
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.header .btn button:hover {
  color: #009d95;
  transform: scale(1.1);
}

#wrapped {
  position: relative;
}

.contenedor-imagen {
  position: relative;
  display: inline-block;
}

.frase {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: whitesmoke;
  font-size: 32px;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.footer {
  position: relative;
  padding: 10px;
  bottom: 0;
}

.suscrip,
.message {
  position: absolute;
  padding: 5px;
}

.suscrip {
  left: 0;
  border: 15px solid #ea9fa6;
  background-color: #ea9fa6;
  color: #ffffff;
  text-decoration: none;
  font-family: 'Helvetica', sans-serif;
  border-radius: 20px;
}

.message {
  right: 0;
  padding-top: 15px;
  border: 15px solid #ea9fa6;
  border-radius: 100px;
  background-color: #ea9fa6;
}

* Oculta el checkbox */
.menu-toggle {
    display: none;
}

/* Estilo para el label que actúa como botón de menú */
.menu-icon {
    display: block; /* Asegúrate de que esto se muestre solo en móviles */
    font-size: 30px;
    cursor: pointer;
}

/* Mostrar el ícono del menú en pantallas pequeñas */
@media screen and (max-width: 480px) {
    .nav-menu {
        display: none;
    }

    .userTools {
      margin-left: 600px;
    }

    .menu-toggle:checked ~ .nav-menu {
        display: flex;
        position: relative;
        margin-top: 600px;
        margin-left: -189px;
        /* margin-right: 600px; */
        background-color: white;
        z-index: 99;
        flex-direction: column;
        }
}

@media screen and ( min-width: 481px) and (max-width: 768px) {
    .nav-menu {
      position: relative;
    }
}